/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  max-inline-size: 1440px;
  font-family: 'Inter', sans-serif;
  font-variation-settings: 'wght' var(--font-weight-normal);
  font-weight: var(--font-weight-normal);
  background-color: var(--bg-color);
  color: var(--text-color);
  background-image: repeating-linear-gradient(var(--grad-color-stripe) 0 2px, transparent 2px 4px), 
  repeating-linear-gradient(90deg, var(--grad-color-stripe) 0 2px, transparent 2px 4px),
  linear-gradient(var(--grad-color-start), var(--grad-color-end)); 
  background-size: cover;
  background-attachment: fixed;
}

.header {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 135px 0 23px;
  margin: 100px auto ;
  max-width: 700px;
  border: 2px solid var(--text-color);
}


.logo__header {
  font-family: 'Press Start 2P', sans-serif;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  padding-block-end: 20px;
}

.title__header {
  font-family: 'Press Start 2P', sans-serif;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  padding-block-end: 23px;
  text-transform: uppercase;
}

.theme-menu__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  position: relative;
  transition: opacity 0.3s ease;
}

.theme-menu__button::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--text-color);
  transition: width 0.3s;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
}

.theme-menu__button:focus-visible {
  outline: none;
}

.theme-menu__button:disabled {
  pointer-events: none;
  opacity: 0.6;
  transition: opacity 0.3s;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: '▶';
  width: 14px;
  height: 14px;
  position: absolute;
  left: -13px;
  bottom: 4px;
  animation: arrow-nav 0.5s infinite ease-in-out alternate;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 17px;
}

.card {
  max-width: 700px;
  margin: 0 auto;
  background-color: var(--bg-color);
  border: 2px solid var(--text-color);
  margin-block-end: 50px;
}

.title__card {
  font-size: 18px;
  font-variation-settings: 'wght' var(--font-weight-bold);
  padding: 5px 9px;
}

.image__card {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  aspect-ratio: 1/1;
}

.container__image {
  position: relative;
  border-bottom: 2px solid var(--text-color);
  border-top: 2px solid var(--text-color);
  overflow: hidden; /* for a blur filter*/
}

.on-image__text {
  position: absolute;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 14px;
  top: 25px;
  right: 25px;
  text-shadow: -1px 0 var(--bg-color), 
  0 1px var(--bg-color), 
  1px 0 var(--bg-color), 
  0 -1px var(--bg-color);
  background-blend-mode: hard-light;
  opacity: 0.5;
}

@supports ((text-stroke: 1px var(--bg-color)) or (-webkit-text-stroke: 1px var(--bg-color))) {
  .on-image__text {
    text-stroke: 1px var(--bg-color);
    -webkit-text-stroke: 1px var(--bg-color);
    text-shadow: none;
  }
}

.card__bottom {
  padding: 25px 25px 20px;
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.description__card {
  font-size: 18px;
  letter-spacing: 0.43px;
  line-height: 21px;
}

.reaction-container__card {
  margin-block-start: 25px;
  display: flex;
  justify-content: flex-end;
}

.card__icon-button {
  border: none;
  background-color: transparent;
  padding-block-start: 2px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--text-color);
  background-color: var(--bg-color);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.button::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--text-color);
  transform: translateX(-100%);
  left: 0;
  bottom: 0;
  transition: transform 0.5s ease-in-out;
}

.button:hover::after {
  transform: translateX(0%);
}

.card__like-button {
  min-inline-size: 130px;
  block-size: 38px;
  cursor: pointer;
  transition: box-shadow 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__text {
  color: var(--button-text-color);
  font-family: 'Press Start 2P', sans-serif;
  font-size: 14px;
  line-height: 0.9;
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 var(--text-color);
}

.save__button {
  margin: 0 auto 103px;
  padding: 15px 0;
  width: clamp(19.125rem, 18.4868rem + 2.723vw, 20.9375rem);
  min-height: 55px;
}

.floppy__save {
  mix-blend-mode: difference;
  z-index: 1;
  margin-inline-end: 8px;
}

.dialog {
  background-color: var(--bg-color);
  border: 2px solid var(--text-color);
  width: clamp(21.3125rem, 20.9604rem + 1.5023vw, 22.3125rem);
  padding: 30px;
  position: fixed;
  inset: 0;
  transition: opacity 0.3s ease-in-out;
  display: grid;
  height: clamp(12.1875rem, 12.2315rem + -0.1878vw, 12.0625rem);
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
} 

.dialog__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.floppy__dialog {
  height: 39px;
  width: auto;
  align-self: center;
  mix-blend-mode: difference;
}

.dialog__content {
  display: grid;
  grid-template-columns: 59px 1fr;
}

.button__dialog {
  width: 100%;
  height: 38px;
}

.button-dialog__text {
  text-transform: uppercase;
  line-height: 21px;
}

/* filters */
.invert {
  filter: invert(20%);
}

.grayscale {
  filter: grayscale(1);
}

.brightness {
  filter: brightness(60%);
}

.blur {
  filter: blur(5px);
}

.hue-rotate {
  filter: hue-rotate(90deg);
  object-fit: fill;
}

.multifilter {
  filter: invert(100%) saturate(80%) ;
}

.sepia {
  filter: sepia(1);
}

.saturate {
  filter: saturate(80%);
  object-position: bottom;
}

@media (width <= 375px) {
  .card {
    width: 100%;
  }

  .save__button {
    display: flex;
    flex-direction: column;
    gap: 9px;
    
  }

  .floppy__save {
    height: 28px;
    width: auto;
    margin-inline-start: 8px;
  }

  .dialog__container {
    padding: 0 11px;
  }
}